.gridContainer {
    -fx-background-image: url("/images/pozadina.jpg");
}

.accountBtn {
    -fx-background-image: url("/images/user_icon.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}

.signupBtn, .createAccountBtn, .confirmBtn, .radioBtn1, .radioBtn2, .radioBtn3, .reserveBtn, .editAccountBtn, .rateObjectBtn, .exitBtn, .addBtn, .editBtn, .deleteBtn {
    -fx-text-fill: orange;
    -fx-font-weight: bold;
}

.changePasswordUrl, .loginBtn, .membershipFeeBtn, .checkActivityBtn, .deleteDisciplineBtn, .addDisciplineBtn {
    -fx-text-fill: orange;
    -fx-font-weight: bold;
}

.adminCheckbox, .label {
    -fx-text-fill: orange;
    -fx-font-weight: bold;
}

.usernameFld, .passwordFld, .nameFld, .surnameFld, .usernameFld, .passwordFld, .passwordRepeatFld, .disciplineChoice, .objectChoice {
    -fx-control-inner-background: #ffe6b3;
}

.poljeIspravno {
    -fx-control-inner-background: adff2f;
}
.poljeNijeIspravno {
    -fx-control-inner-background: ffb6c1;
}

.bsBtn {
    -fx-background-image: url("/images/bs_flag.jpg");
    -fx-background-color: #ffe6b3;
    -fx-background-size: 30px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.usBtn {
    -fx-background-image: url("/images/us_flag.jpg");
    -fx-background-color: #ffe6b3;
    -fx-background-size: 30px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
